h1 {
    color: rebeccapurple;
    font-size: 50px;
}
.is-centered {
    text-align: center;
}
.is-green {
    color: green;
}
#game {
    width: 500px;
    height: 355px;
    overflow: hidden;
    background: linear-gradient(#1293f5, #bae8ff 80%, #35b236 80%);
}
#player {
    margin-top: 140px;
    margin-left: 50px;
}
/* Don't worry about knowing what all of these properties are yet 
we'll come back to them later, we promise! */

* {
    outline: 1px solid red;
}